<!DOCTYPE html>
<html>
  <head>
    <title>DeviseSampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to "Liste des blogs", blogs_path %>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Nouvelle inscription", new_user_registration_path %>
      <%= link_to "Connexion", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
